babel==2.18.0
backrefs==7.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
contourpy==1.3.3
coverage==7.13.5
cycler==0.12.1
fonttools==4.62.1
ghp-import==2.1.0
griffelib==2.0.2
idna==3.13
iniconfig==2.3.0
Jinja2==3.1.6
kiwisolver==1.5.0
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.9
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-autorefs==1.4.4
mkdocs-get-deps==0.2.2
mkdocs-material==9.7.6
mkdocs-material-extensions==1.3.1
mkdocstrings==1.0.4
mkdocstrings-python==2.0.3
numpy==2.4.4
packaging==26.2
paginate==0.5.7
pandas==3.0.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.9.6
pluggy==1.6.0
Pygments==2.20.0
pymdown-extensions==10.21.2
pyparsing==3.3.2
pytest==9.0.3
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyyaml_env_tag==1.1
requests==2.33.1
six==1.17.0
tzdata==2026.2
urllib3==2.7.0
watchdog==6.0.0
